<div id="wrapper">
  <h1>Article Scraper</h1>
  <h2><i>If you can do this...the homework should be no problem.</i></h2>
  <div id="articles"></div>
  <div id="left">
    <h2>Articles that have not been favorited!</h2>
    <ul>
      {{#each articles}}
      {{#each this}}

      <hr>
      {{title}}<br>
      <a href="{{link}}"><img src="{{image}}"></a><br>
      {{summary}}
      <button class="change-favorite" data-id="{{_id}}" data-newfavorite="{{favorited}}">
        Add to Favorites
      </button>
      <hr>
      
      {{/each}}
      {{/each}}
    </ul>
  </div>

  <div id="right">

    <h2>Articles that have been favorited!</h2>
    <ul>
      
    </ul>
    <br>
  </div>
  <div id="comments"></div>
</div>